:root {
  --cor-branco: rgb(255, 255, 255);     /*cor de fundo principal ou textos em cima de cores fortes. */
  --cor-vermelho: rgb(180, 38, 43);     /* para destaques, links ou mensagens importantes */
  --cor-azul: rgb(31, 90, 157);         /* como cores de fundo de seções (por exemplo, agenda ou sobre). */
  --cor-verde: rgb(43, 142, 63);        /*  como cores de fundo de seções (por exemplo, agenda ou sobre) */
  --cor-dourado: rgb(184, 144, 62);      /* para detalhes, botões e ícones religiosos. */
  --cor-marrom-escuro: rgb(99, 58, 29); /* para títulos ou elementos de contraste. */
}
.titulo{
    display: flex;
    /* background-color: aqua; */
    height: 400px;
    width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo h1{
    color: white;
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    color: rgb(201, 186, 100);
    text-shadow: 2px 2px 4px #000000;
}
.titulo p{
    color: white;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.t1{
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) , rgb(243, 214, 175)) , url(../images/paroquia2.jpg);
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size: cover; /* Faz a imagem preencher todo o espaço */
    background-position: center; /* Centraliza a imagem */
}
.navegacao{
    display: flex;
    width: 100%;
    height: auto;
    background: rgb(243, 214, 175);
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.356);
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.noticias{
    padding: 20px;
    background: linear-gradient( to bottom , rgb(31, 90, 157), rgb(14, 42, 74));
    width: 20%;
    height: 90%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.341);
    border: outset white 2px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}
.noticias img{
    /* margin-top: -20px; */
    border-radius: 30px;
}
.noticias:hover{
    transform: scale(1.03);
}
.conteudo{
    margin-top: 40px;
    /* background-color: brown; */
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.conteudo h2{
    margin-bottom: 20px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(253, 198, 88);
}
.conteudo p{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#botao {
    margin-top: 40px;
    text-align: center;
}
#botao button{
    background-color: var(--cor-vermelho);
    height: 50px;
    width: 50%;
    border: none;
    border-radius: 50px;
    border: solid black 2px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease;
}
#botao button:hover{
    background-color: var(--cor-verde); 
    transform: scale(1.05); 
}
#botao button:active{
    animation: pulse-animation 2s;
}
.sobre{
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to top , rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) , rgb(243, 214, 175)) , url(../images/imagem3.jpg);
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size: cover; /* Faz a imagem preencher todo o espaço */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    align-items: center;
    justify-content: center;
}
.padres{
    display: flex;
    padding: 30px;
    width: 100%;
    height: 95%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.padre{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom , rgb(31, 90, 157), rgb(14, 42, 74));
    border: solid rgb(0, 0, 0) 2px;
    height: 80%;
    width: 50%;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.341);
    border: outset white 2px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    background-color: aqua;
}
.padre img{
    margin-top: -100px;
    border-radius: 20px;
    height: 320px;
    width: 90%;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.341);
}
.padre:hover{
    transform: scale(1.03);
}
.conteudop{
    margin-top: 50px;
    /* background-color: brown; */
    width: 90%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-align: left;
}
.conteudop h2{
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    color: rgb(253, 198, 88);
    text-align: left;
    padding-left: 5%;
}
.conteudop h3{
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 25px;
    text-align: left;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 10%;
    font-size: 15px;
}
.horarios{
    width: 100%;
    height: 700px;
    background: rgb(243, 214, 175);
    display: flex;
    align-items: center;
    justify-content: center;
}
.missas{
    background: linear-gradient( to bottom , rgb(31, 90, 157), rgb(14, 42, 74));
    width: 60%;
    height: 100%;
    border-top: solid rgb(0, 0, 0) 4px;
    border-right: solid rgb(0, 0, 0) 4px;
    border-bottom: solid rgb(0, 0, 0) 4px;
    padding: 30px;
}
.missas h2{
    color: rgb(253, 198, 88);
    text-align: left;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}
.missas ul{
    list-style: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.8;
    margin-left: 40px;
}
.missas ul li{
    margin-bottom: 10px;
    margin-left: 30px;
}   
.devocionais{
    background: rgb(243, 214, 175);
    width: 40%;
    height: 100%;
    border-top: solid rgb(0, 0, 0) 4px;
    border-bottom: solid rgb(0, 0, 0) 4px;
    padding: 30px;
}
.devocionais h2{
    color: rgb(253, 198, 88);
    text-align: left;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}
.devocionais ul{
    list-style: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-shadow: 2px 2px 4px #ffffff;
    line-height: 1.8;
    margin-left: 40px;
}
.devocionais ul li{
    margin-bottom: 10px;
    margin-left: 30px;
}
.atividades{
    background-image: url(../images/imagem2.jpg);
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size: cover; /* Faz a imagem preencher todo o espaço */
    background-position: center; /* Centraliza a imagem */
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pastoraisT{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 95%;
    height: 15%;
    background: linear-gradient( to bottom , rgb(31, 90, 157), rgb(14, 42, 74));
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.341);
    border: outset white 2px;
}
.pastoraisT h2{
    color: rgb(253, 198, 88);
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}
.pastorais{
    display: flex;
    width: 95%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    gap: 20px;
    justify-content: space-around;
}
.bloco{
    width: 28%;
    height: 40%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.341);
    border: outset white 2px;
    background-image: linear-gradient( to right , rgba(31, 90, 157, 0.288), rgba(14, 42, 74, 0.288)) , url(../images/paroquia2.jpg);
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size: cover; /* Faz a imagem preencher todo o espaço */
    background-position: center; /* Centraliza a imagem */
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(231, 76, 60, 0.2);
  }
  100% {
    transform: scale(1);
  }
}

@media(max-width:1200px){ 
    .titulo h1{
        font-size: 40px;
    }
    .titulo p{
        text-align: center;
    }
    .container{
        flex-direction: column;
        gap: 50px;
        border: 0;
    }
    .noticias{
        width: 80%;
    }
    .container{
        width: 87%;
        border-radius: 0;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }
    .navegacao{
        
    }
    .padres{
        display: flex;
        flex-direction: column;
    }
    .sobre{
        height: 2000px;
    }
    .padre{
        height: 50%;
        width: 80%;
        font-size: 15px;
    }
    .padre img{
        width: 98%;
    }
}
@media(max-width: 560px){
    .padre img{
       height: 25%;
       width: 87%;
    }
    .horarios{
        display: flex;
        flex-direction: column;
        height: 2000px;
        height: auto;
    }
    .missas{
        width: 100%;
        border: 0;
    }
    .missas h2{
        font-size: 23px;
        text-align: center;
    }
    .missas h3{
        font-size: 17px;
    }
    .missas ul li{
        font-size: 15px;
    }
    .devocionais{
        width: 100%;
        background: linear-gradient( to top , rgb(31, 90, 157), rgb(14, 42, 74));
        border: 0;
    }
    .devocionais h2{
        font-size: 23px;
        text-align: center;
    }
    .devocionais h3{
        font-size: 17px;
        color: white;
    }
    .devocionais ul li{
        font-size: 15px;
        color: white;
    }
}

@media(max-width: 500px){
    .padre img{
       height: 20%;
    }
}
@media(max-width: 400px){
    .padre img{
       height: 15%;
       width: 80%;
    }
}
@media(max-width: 360px){
    .padre img{
       height: 20%;
       width: 90%;
    }
}